services:
  db:
    image: postgres:15-alpine
    container_name: task_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysequel1!
      POSTGRES_DB: task_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: task_redis
    restart: always
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: task_api
    restart: always
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:mysequel1!@db:5432/task_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
